In [1]:
import pandas as pd
import numpy as np
from pydataset import data
import os
import env
import acquire as a
import prepare as p
import wrangle as w
from sklearn.model_selection import train_test_split

#Stats imports
from scipy import stats
from scipy.stats import pearsonr, spearmanr, ttest_1samp, ttest_ind, chi2_contingency


#visual imports
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline



import warnings
warnings.filterwarnings("ignore")

In [2]:
df = w.get_zillow()

In [3]:
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,buildingclasstypeid.1,buildingclassdesc,heatingorsystemtypeid.1,heatingorsystemdesc,propertylandusetypeid.1,propertylandusedesc,storytypeid.1,storydesc,typeconstructiontypeid.1,typeconstructiondesc
0,0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,269,Planned Unit Development,NaN,NaN,NaN,NaN
1,1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,261,Single Family Residential,NaN,NaN,NaN,NaN
2,2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,...,5.0,Specialized buildings that do not fit in any of the above categories,NaN,NaN,47,Store/Office (Mixed Use),NaN,NaN,NaN,NaN
3,3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,...,3.0,"Buildings having exterior walls built of a non-combustible material such as brick, con...",NaN,NaN,47,Store/Office (Mixed Use),NaN,NaN,NaN,NaN
4,4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,...,4.0,Buildings having wood or wood and steel frames,NaN,NaN,31,Commercial/Office/Residential Mixed Used,NaN,NaN,NaN,NaN

In [4]:
df.shape

(77613, 76)

In [5]:
# Drop id columns that are causing duplicate columns
df.drop(['parcelid','propertylandusetypeid','heatingorsystemtypeid','architecturalstyletypeid','\
airconditioningtypeid','typeconstructiontypeid','storytypeid','buildingclasstypeid'], axis=1, inplace=True)

In [6]:
df.shape

(77613, 68)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77613 entries, 0 to 77612
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77613 non-null  int64
 1   basementsqft                  45 non-null     float64
 2   bathroomcnt                   77613 non-null  float64
 3   bedroomcnt                    77613 non-null  float64
 4   buildingqualitytypeid         50321 non-null  float64
 5   calculatedbathnbr             74390 non-null  float64
 6   decktypeid                    513 non-null    float64
 7   finishedfloor1squarefeet      5973 non-null   float64
 8   calculatedfinishedsquarefeet  76501 non-null  float64
 9   finishedsquarefeet12          70963 non-null  float64
 10  finishedsquarefeet13          235 non-null    float64
 11  finishedsquarefeet15          4758 non-null   float64
 12  finishedsquarefeet50          5973 non-null   float64
 13  finishedsquarefeet6           545 non-null    float64
 14  fips                          77613 non-null  float64
 15  fireplacecnt                  8412 non-null   float64
 16  fullbathcnt                   74390 non-null  float64
 17  garagecarcnt                  23300 non-null  float64
 18  garagetotalsqft               23300 non-null  float64
 19  hashottuborspa                1258 non-null   float64
 20  latitude                      77613 non-null  float64
 21  longitude                     77613 non-null  float64
 22  lotsizesquarefeet             70534 non-null  float64
 23  poolcnt                       14261 non-null  float64
 24  poolsizesum                   777 non-null    float64
 25  pooltypeid10                  424 non-null    float64
 26  pooltypeid2                   834 non-null    float64
 27  pooltypeid7                   13409 non-null  float64
 28  propertycountylandusecode     77612 non-null  object
 29  propertyzoningdesc            51361 non-null  object
 30  rawcensustractandblock        77613 non-null  float64
 31  regionidcity                  76087 non-null  float64
 32  regionidcounty                77613 non-null  float64
 33  regionidneighborhood          30512 non-null  float64
 34  regionidzip                   77338 non-null  float64
 35  roomcnt                       77612 non-null  float64
 36  threequarterbathnbr           8204 non-null   float64
 37  unitcnt                       51289 non-null  float64
 38  yardbuildingsqft17            2423 non-null   float64
 39  yardbuildingsqft26            66 non-null     float64
 40  yearbuilt                     76443 non-null  float64
 41  numberofstories               18119 non-null  float64
 42  fireplaceflag                 125 non-null    float64
 43  structuretaxvaluedollarcnt    76348 non-null  float64
 44  taxvaluedollarcnt             76688 non-null  float64
 45  assessmentyear                77613 non-null  float64
 46  landtaxvaluedollarcnt         76002 non-null  float64
 47  taxamount                     77102 non-null  float64
 48  taxdelinquencyflag            1504 non-null   object
 49  taxdelinquencyyear            1504 non-null   float64
 50  censustractandblock           75518 non-null  float64
 51  parcelid.1                    77613 non-null  int64
 52  logerror                      77613 non-null  float64
 53  transactiondate               77613 non-null  object
 54  airconditioningtypeid.1       21456 non-null  float64
 55  airconditioningdesc           21456 non-null  object
 56  architecturalstyletypeid.1    151 non-null    float64
 57  architecturalstyledesc        151 non-null    object
 58  buildingclasstypeid.1         383 non-null    float64
 59  buildingclassdesc             383 non-null    object
 60  heatingorsystemtypeid.1       48474 non-null  float64
 61  heatingorsystemdesc           48474 non-null  object
 62  propertylandusetypeid.1       77613 non-null  int64
 63  propertylandusedesc           77613 non-null  object
 64  storytypeid.1                 45 non-null     float64
 65  storydesc                     45 non-null     object
 66  typeconstructiontypeid.1      166 non-null    float64
 67  typeconstructiondesc          166 non-null    object
dtypes: float64(54), int64(3), object(11)
memory usage: 40.3+ MB

# Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

1. Is logerror significantly different depending in the county?
2. is logerror significantly different  depending on zip codes?
3. Is there a signficant relation between logerror and year built?
4. Is there a significant relation between logerror and lot size?
5. Is there a significant relation between logerror and square feet?

# Answer those questions through a mix of statistical tests and visualizations.

In [16]:
df =w.handle_missing_values(df, .1)
df.head()

,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fireplacecnt,fullbathcnt,...,censustractandblock,parcelid.1,logerror,transactiondate,airconditioningtypeid.1,airconditioningdesc,heatingorsystemtypeid.1,heatingorsystemdesc,propertylandusetypeid.1,propertylandusedesc
0,0,0.0,0.0,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,...,NaN,14297519,0.025595,2017-01-01,NaN,NaN,NaN,NaN,269,Planned Unit Development
1,1,0.0,0.0,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,...,NaN,17052889,0.055619,2017-01-01,NaN,NaN,NaN,NaN,261,Single Family Residential
2,2,0.0,0.0,NaN,NaN,73026.0,NaN,6037.0,NaN,NaN,...,NaN,14186244,0.005383,2017-01-01,NaN,NaN,NaN,NaN,47,Store/Office (Mixed Use)
3,3,0.0,0.0,6.0,NaN,5068.0,NaN,6037.0,NaN,NaN,...,NaN,12177905,-0.103410,2017-01-01,NaN,NaN,NaN,NaN,47,Store/Office (Mixed Use)
4,4,0.0,0.0,NaN,NaN,1776.0,NaN,6037.0,NaN,NaN,...,NaN,10887214,0.006940,2017-01-01,NaN,NaN,NaN,NaN,31,Commercial/Office/Residential Mixed Used